<launch>
 <!--Lance la simulation et le déplacement du robot-->
    <include file="$(find larm)/launch/challenge-2.launch"/>
    <include file="$(find turtlebot_teleop)/launch/keyboard_teleop.launch"/>

    <!--Lance le mapping process en même temps que l'on avance, on ouvre rviz à part-->
    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
     <remap from="scan" to ="/scan"/>
     <param name="base_frame" value="base_footprint"/>   
     <param name="odom_frame" value="odom"/>   
    </node>
</launch>