<launch>    
    <!-- On va récupérer la map statique et on la rend disponivle via un service gràace au node map-server-->
    <node pkg="map_server" type="map_server" name="map_server" args="$(find challenge-pkg)/resources/map.yaml" />
    <!--On lance Amcl afin d'avoir une position en temps réel du robot-->
    <node pkg="amcl" type="amcl" name="amcl" output="screen">
    <remap from="scan" to="/scan" />
    <remap from="cmd_vel" to="/cmd_vel"/>
    </node>
    <!--On lance move_base pour pouvoir, à partir d'une map et d'une position, faire du path finding-->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find challenge-pkg)/param/move_base_params.yaml" command="load" />
    <rosparam file="$(find challenge-pkg)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find challenge-pkg)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find challenge-pkg)/param/local_costmap_params.yaml" command="load" ns="local_costmap"/>
    <rosparam file="$(find challenge-pkg)/param/global_costmap_params.yaml" command="load" ns="global_costmap"/>
    <rosparam file="$(find challenge-pkg)/param/dwa_local_planner_params.yaml" command="load" />
    <rosparam file="$(find challenge-pkg)/param/global_planner_params.yaml" command="load" />
  </node>
</launch>
